<settings>
    <category label="Setări">
        <setting id="timeout"  type="slider"   label="Timeout accesare site-uri (0=nelimitat)" default="20" range="1,1,50" option="int"/>
        <setting id="parolasite" type="number" label="Parola opțională site-uri (0 sau nimic dezactiveaza)" option="hidden" default=""/>
        <setting id="metadata" type="select" label="Extragere Informatii de pe:" values="TMdb|IMDb|Ambele" default="IMDb" />
        <setting id="recentslimit"  type="slider"   label="Limita Recente per site" default="5" range="1,5,100" option="int"/>
        <setting id="ResolveURLSettings" type="action" label="Setări ResolveURL" option="close" action="RunPlugin(plugin://plugin.video.romanianpack/?action=openResolverSettings)" />
        <setting id="progress" type="bool" label="Caseta asteptare incarcare" default="true"/>
        <setting id="progress_type" enable="eq(-1,true)" type="select" label="Tip caseta:" values="Mare|Mica" visible="eq(-1,true)" default="Mica" />
        <setting id="torrs" type="bool" label="Torrent browser" default="true" />
        <setting id="clickactiontype" type="enum" label="Actiune la click:" values="Browse cu torrenter|Play cu Torrenter|Play cu Elementum|Descarca cu torrenter|Descarca cu Transmission|Play cu MRSP(torrent2http)" default="5" visible="eq(-1,true)" />
        <setting type="text" label="Alege ce vrei să se întâmple când dai clic pe un torrent: [CR] - Rasfoire(Browse) torrent cu Torrenter" enable="false" visible="eq(-2,true)" />
        <setting type="text" label=" - Play cu Torrenter [CR]- Play cu Elementum" enable="false" visible="eq(-3,true)" />
        <setting type="text" label="- Descarcă cu Torrenter " enable="false" visible="eq(-4,true)" />
        <setting type="text" label="- Descarcă cu Transmission(trebuie sa ai instalat si pornit transmission [CR]pe aparat sau remote cu setarile facute in Torrenter)" enable="false" visible="eq(-5,true)" />
        <setting type="text" label="- Play cu MRSP: player intern bazat exclusiv pe torrent2http " enable="false" visible="eq(-6,true)" />
        <setting id="TorrenterSettings" enable="eq(-7,true)" visible="eq(-7,true)" type="action" label="Setări Torrenter" option="close" action="RunPlugin(plugin://plugin.video.romanianpack/?action=openTorrenterSettings)" />
        <setting id="searchtype" enable="eq(-8,true)" type="select" label="Cautare în:" values="Ambele|Site-uri|Torrent" visible="eq(-8,true)" default="Ambele" />
    </category>
    <category label="AutoSub">
        <setting id="enable_autosub" type="bool" default="true" label="Activează căutarea automată a subtitrării, la Play"/>
        <setting type="text" label="Dezactivați dacă aveți activat addonul oficial Autosubs în Kodi [CR]Sau dezactivați addonul oficial Autosubs în Kodi" enable="false"/>
        <setting id="check_for_specific" type="bool" default="false" label="Caută o anumită limbă"/>
        <setting id="selected_language" type="select" enable="eq(-1,true)" visible="eq(-1,true)" label="32102" default="Romanian" values="Albanian|Arabic|Belarusian|Bosnian (Latin)|Bulgarian|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Estonian|Finnish|French|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Korean|Latvian|Lithuanian|Macedonian|Norwegian|Polish|Portuguese|Romanian|Russian|SerbianLatin|Slovak|Slovenian|Spanish|Swedish|Thai|Turkish|Ukrainian|Vietnamese|Farsi|Malay" />
        <setting id="ExcludeTime" type="number" label="Nu căuta pentru filme care dureaza mai puțin de X minute" default="15"/>   	
        <setting id="ignore_words" type="text" default="theme,Sample" label="Ignoră cuvintele, separate cu virgulă"/>
        <setting id="ExcludeLiveTV" type="bool" label="Exclude Live TV" default="true"/>
        <setting id="ExcludeHTTP" type="bool" label="Exclude sursele HTTP : necesar dezactivat pentru torrenti" default="false"/>    
        <setting id="ExcludePathOption" type="bool" label="Exclude cale" default="false" />
        <setting id="ExcludePath" type="folder" source="video" label="Calea Folderului (și subfoldere)" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
        <setting id="ExcludePathOption2" type="bool" label="Exclude cale" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludePath2" type="folder" source="video" label="Calea Folderului (și subfoldere)" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
        <setting id="ExcludePathOption3" type="bool" label="Exclude cale" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludePath3" type="folder" source="video" label="Calea Folderului (și subfoldere)" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
        <setting id="ExcludePathOption4" type="bool" label="Exclude cale" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludePath4" type="folder" source="video" label="Calea Folderului (și subfoldere)" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
        <setting id="ExcludePathOption5" type="bool" label="Exclude cale" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludePath5" type="folder" source="video" label="Calea Folderului (și subfoldere)" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
    </category>
    <category label="MRSP Torrent Player">
        <setting label="Torrent Download Folder" type="folder" id="storage" source="" option="writeable" default=""/>
        <setting id="download_sub"            type="bool"     label="Pre-Descărcare subtitrare dacă există în torrent" default="true" />
        <setting id="next_dl"           type="bool"     label="Pornire automată următorul episod" default="true" />
        <setting id="next_play"         type="bool"     label="Întreabă dacă pornesc următorul episod" default="true" visible="eq(-1,true)"/>
        <setting id="connections_limit"     type="number"   label="Max. connections (0 - unlimited)" default="200" />
        <setting id="upload_limit"      type="number"   label="Upload speed limit kB/sec (0 - unlimited)" default="0" />
        <setting id="download_limit"    type="number"   label="Download speed limit kB/sec (0 - unlimited)" default="0" />
        <setting id="listen_port"           type="number"   label="Port for incoming connections" default="6881" />
        <setting id="use_random_port"       type="bool"     label="Use random listen port (49152-65535)" default="false" />
        <setting id="encryption"        type="enum"     label="Encryption" values="Forced|Enabled|Disabled" default="1" />
        <setting id="enable_dht"            type="bool"     label="Enable DHT (Distributed Hash Table)" default="true" />
        <setting id="enable_lsd"            type="bool"     label="Enable LSD (Local Service Discovery)" default="true" />
        <setting id="enable_upnp"            type="bool"     label="Enable UPnP (UPnP port-mapping)" default="true" />
        <setting id="enable_natpmp"            type="bool"     label="Enable NATPMP (NAT port-mapping)" default="true" />
        <setting id="no_sparse"            type="bool"     label="Do not use sparse file allocation" default="false" />
        <setting id="pre_buffer_bytes"  type="slider"   label="Pre-buffer amount before start playing (MB)" default="25"  range="5,5,50" option="int"/>
    </category>
    <category label="Torrent Client">
        <setting id="torrent_save"                  type="enum"         label="Save Path" values="Call Dialog|Default" default="0"/>
        <setting id="torrent_dir"                   type="text"         label="Path"/>
        <setting id="torrent_replacement"           type="folder"       label="Path replacement (remote only)"/>
        <setting type="sep"/>
        <setting id="torrent"                       type="enum"         label="Torrent Client" values="µTorrent WebUI|Transmission|Vuze (XML over HTTP plugin)|Deluge|qBittorent" default="1"/>
        <setting id="torrent_utorrent_host"         type="ipaddress"    label="Host" visible="eq(-1,0)" default="127.0.0.1"/>
        <setting id="torrent_utorrent_port"         type="number"       label="Port" visible="eq(-2,0)" default="8080"/>
        <setting id="torrent_utorrent_login"        type="text"         label="Login" visible="eq(-3,0)" default="admin"/>
        <setting id="torrent_utorrent_password"     type="text"         label="Password" visible="eq(-4,0)" default=""
                 option="hidden"/>
        <setting id="torrent_transmission_host"     type="ipaddress"    label="Host" visible="eq(-5,1)" default="127.0.0.1"/>
        <setting id="torrent_transmission_port"     type="number"       label="Port" visible="eq(-6,1)" default="9091"/>
        <setting id="torrent_transmission_url"      type="text"         label="URL" visible="eq(-7,1)" default="/transmission/"/>
        <setting id="torrent_transmission_login"    type="text"         label="Login" visible="eq(-8,1)" default=""/>
        <setting id="torrent_transmission_password" type="text"         label="Password" visible="eq(-9,1)" default="" option="hidden"/>
        <setting id="torrent_vuze_host"             type="ipaddress"    label="Host" visible="eq(-10,2)" default="127.0.0.1"/>
        <setting id="torrent_vuze_port"             type="number"       label="Port" visible="eq(-11,2)" default="6884"/>
        <setting id="torrent_vuze_login"            type="text"         label="Login" visible="eq(-12,2)" default=""/>
        <setting id="torrent_vuze_password"         type="text"         label="Password" visible="eq(-13,2)" default="" option="hidden"/>
        <setting id="torrent_deluge_host"           type="ipaddress"    label="Host" visible="eq(-14,3)" default="127.0.0.1"/>
        <setting id="torrent_deluge_path"           type="text"         label="URL (only No SSL)" visible="eq(-15,3)" default="/"/>
        <setting id="torrent_deluge_port"           type="number"       label="Port" visible="eq(-16,3)" default="8112"/>
        <setting id="torrent_deluge_password"       type="text"         label="Password" visible="eq(-17,3)" default="deluge" option="hidden"/>
        <setting id="torrent_qbittorrent_host"      type="ipaddress"    label="Host" visible="eq(-18,4)" default="127.0.0.1"/>
        <setting id="torrent_qbittorrent_port"      type="number"       label="Port" visible="eq(-19,4)" default="8080"/>
        <setting id="torrent_qbittorrent_login"     type="text"         label="Login" visible="eq(-20,4)" default="admin"/>
        <setting id="torrent_qbittorrent_password"  type="text"         label="Password" visible="eq(-21,4)" default="admin" option="hidden"/>
    </category>
    <category label="Trakt">
        <setting type="lsep" label="Trakt.tv" />
        <setting id="trakt.user" type="action" label="Autorizare..." option="close" action="RunPlugin(plugin://plugin.video.romanianpack/?action=authTrakt)" />
        <setting id="trakt.token" type="text" visible="false" label="" default="" />
        <setting id="trakt.refresh" type="text" visible="false" label="" default="" />
        <setting id="autotraktwatched" type="bool" label="Marcare automată ca vizualizat în Trakt" default="false"/>
        <setting id="showtraktunreleased" type="bool" label="Arată episoadele nelansate" default="true"/>
    </category>
    <category label="Site-uri">
        <setting id="asiafaninfo"    type="bool"   label="AsiaFanInfo.net" default="true"/>
        <setting id="filme3dnet"    type="bool"   label="Filme3D.net" default="true"/>
        <setting id="voxfilmeonline"    type="bool"   label="VoxFilmeOnline" default="true"/>
        <setting id="filmehdnet"    type="bool"   label="FilmeHD.net" default="true"/>
        <setting id="pefilme"    type="bool"   label="PeFilme.net" default="true"/>
        <setting id="portalultautv"    type="bool"   label="PortalulTauTv.com" default="true"/>
        <setting id="topfilmeonline"    type="bool"   label="TopFilmeOnline.net" default="true"/>
        <setting id="serialenoihd"    type="bool"   label="SerialeNoiHD.com" default="true"/>
        <setting id="flixanity"    type="bool"   label="Flixanity.is" default="true"/>
        <setting id="fsonlineorg"    type="bool"   label="FSOnline" default="true"/>
        <setting id="clicksudorg"    type="bool"   label="ClickSud.org" default="true"/>
        <setting id="hindilover"    type="bool"   label="HindiLover.biz" default="true"/>
        <setting id="filmeseriale"    type="bool"   label="Filme-Seriale" default="true"/>
        <setting id="filmeonline2016biz"    type="bool"   label="FilmeOnline2016.biz" default="true"/>
    </category>
    <category label="Torrent">
        <setting id="seedtransmission" enable="eq(1,false)" type="bool" label="General seed in transmission dupa vizionare" default="false"/>
        <setting id="seedtorrenter" type="bool" enable="System.HasAddon(plugin.video.torrenter)+eq(-1,false)" label="General seed in torrenter (python-libtorrent) dupa vizionare" default="false"/>
        <setting id="filelist"    type="bool"   label="FileList" default="false"/>
        <setting id="FLusername" type="text" label="Username Filelist" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="FLpassword" type="text" label="Parola Filelist" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="filelistseedtransmission" type="bool" enable="eq(-5,false)+eq(-4,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)+eq(-5,false)" default="false"/>
        <setting id="filelistseedtorrenter" type="bool" enable="eq(-5,false)+eq(-6,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)+eq(-5,false)" default="false"/>
        <setting id="ieet" type="bool" label="1337x" default="true"/>
        <setting id="ieetseedtransmission" type="bool" enable="eq(-8,false)+eq(-7,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)+eq(-8,false)" default="false"/>
        <setting id="ieetseedtorrenter" type="bool" enable="eq(-8,false)+eq(-9,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)+eq(-8,false)" default="false"/>
        <setting id="piratebay" type="bool" label="ThePirateBay" default="true"/>
        <setting id="piratebayseedtransmission" type="bool" enable="eq(-11,false)+eq(-10,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)+eq(-11,false)" default="false"/>
        <setting id="piratebayseedtorrenter" type="bool" enable="eq(-11,false)+eq(-12,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)+eq(-11,false)" default="false"/>
        <setting id="rarbg" type="bool" label="RARBG" default="true"/>
        <setting id="rarbgseedtransmission" type="bool" enable="eq(-14,false)+eq(-13,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)+eq(-14,false)" default="false"/>
        <setting id="rarbgseedtorrenter" type="bool" enable="eq(-14,false)+eq(-15,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)+eq(-14,false)" default="false"/>
        <setting id="yify" type="bool" label="YIFY" default="true"/>
        <setting id="yifyseedtransmission" type="bool" enable="eq(-17,false)+eq(-16,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)+eq(-17,false)" default="false"/>
        <setting id="yifiseedtorrenter" type="bool" enable="eq(-17,false)+eq(-18,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)+eq(-17,false)" default="false"/>
        <setting id="datascene"    type="bool"   label="DataScene" default="false"/>
        <setting id="DSusername" type="text" label="Username DataScene" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="DSpassword" type="text" label="Parola DataScene" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="datasceneseedtransmission" type="bool" enable="eq(-22,false)+eq(-21,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)+eq(-22,false)" default="false"/>
        <setting id="datasceneseedtorrenter" type="bool" enable="eq(-22,false)+eq(-23,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)+eq(-22,false)" default="false"/>
        <setting id="kickass2" type="bool" label="KickAss2" default="true"/>
        <setting id="kickass2seedtransmission" type="bool" enable="eq(-25,false)+eq(-24,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)+eq(-25,false)" default="false"/>
        <setting id="kickass2seedtorrenter" type="bool" enable="eq(-25,false)+eq(-26,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)+eq(-25,false)" default="false"/>
        <setting id="zooqle" type="bool" label="Zooqle" default="true"/>
        <setting id="zooqleseedtransmission" type="bool" enable="eq(-28,false)+eq(-27,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)+eq(-28,false)" default="false"/>
        <setting id="zooqleseedtorrenter" type="bool" enable="eq(-28,false)+eq(-29,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)+eq(-28,false)" default="false"/>
        <setting id="fluxzone"    type="bool"   label="FluxZone" default="false"/>
        <setting id="FZusername" type="text" label="Username Fluxzone" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="FZpassword" type="text" label="Parola Fluxzone" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="fluxzoneseedtransmission" type="bool" enable="eq(-33,false)+eq(-32,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)+eq(-33,false)" default="false"/>
        <setting id="fluxzoneseedtorrenter" type="bool" enable="eq(-33,false)+eq(-34,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)+eq(-33,false)" default="false"/>
        <setting id="scenefzro"    type="bool"   label="SceneFZ" default="false"/>
        <setting id="SFZusername" type="text" label="Username SceneFZ" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="SFZpassword" type="text" label="Parola SceneFZ" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="scenefzroseedtransmission" type="bool" enable="eq(-38,false)+eq(-37,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)+eq(-38,false)" default="false"/>
        <setting id="scenefzroseedtorrenter" type="bool" enable="eq(-38,false)+eq(-39,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)+eq(-38,false)" default="false"/>
        <setting id="seedfilero"    type="bool"   label="SeedFile" default="false"/>
        <setting id="seedfilerousername" type="text" label="Username SeedFile" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="seedfileropassword" type="text" label="Parola SeedFile" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="seedfileroseedtransmission" type="bool" enable="eq(-43,false)+eq(-42,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)+eq(-43,false)" default="false"/>
        <setting id="seedfileroseedtorrenter" type="bool" enable="eq(-43,false)+eq(-44,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)+eq(-43,false)" default="false"/>
        <setting id="lime" type="bool" label="LimeTorrents" default="true"/>
        <setting id="limeseedtransmission" type="bool" enable="eq(-46,false)+eq(-45,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)+eq(-46,false)" default="false"/>
        <setting id="limeseedtorrenter" type="bool" enable="eq(-46,false)+eq(-47,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)+eq(-46,false)" default="false"/>
        <setting id="xtreme"    type="bool"   label="XtremeZone" default="false"/>
        <setting id="XZusername" type="text" label="Username XtremeZone" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="XZpassword" type="text" label="Parola XtremeZone" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="xtremeseedtransmission" type="bool" enable="eq(-51,false)+eq(-50,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)+eq(-51,false)" default="false"/>
        <setting id="xtremeseedtorrenter" type="bool" enable="eq(-51,false)+eq(-52,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)+eq(-51,false)" default="false"/>
        <setting id="skytorrents" type="bool" label="SkyTorrents" default="true"/>
        <setting id="skytorrentsseedtransmission" type="bool" enable="eq(-54,false)+eq(-53,false)+eq(1,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)+eq(-54,false)" default="false"/>
        <setting id="skytorrentsseedtorrenter" type="bool" enable="eq(-54,false)+eq(-55,false)+eq(-1,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)+eq(-54,false)" default="false"/>
    </category>
    <category label="Misc">
        <setting id="cleandatabasetable" type="enum" label="Curăță : " values="Favorite|Văzute|Căutare" default="0" />
        <setting id="cleandatabaselimit"  type="slider"   label="Păstrează ultimul număr de intrări" default="100" range="1,50,1000" option="int"/>
        <setting label="Curățare Bază Date MRSP" type="action" action="RunPlugin(plugin://plugin.video.romanianpack/?action=CleanDB)" option="close"/>
        <setting type="text" label="Curăță secțiuni din baza de date MRSP: Favorite, Văzute sau Căutare[CR] pastrând ultimele 'n' intrări, apăsând pe 'Curățare Bază Date MRSP'" enable="false" />
        <setting type="sep"/>
        <setting id="enableoutsidewatched" type="bool" label="Adaugă la Văzute și ce vizionezi din afara MRSP" default="true"/>
        <setting type="text" label="În afara MRSP e și Torrenter, Elementum etc. [CR][B]MRSP Player este intern.[/B]" enable="false" />
        <setting type="sep"/>
        <setting id="activateoutsidetrakt" type="bool" label="Monitorizare Trakt și din afara MRSP" default="true"/>
        <setting id="context_trakt_search_mode" type="enum" label="Mod Căutare Context Global si Trakt" values="Edit Box|Direct1(sezon si episod)|Direct2(doar sezon)" default="1"/>
    </category>
</settings>
