<settings>
    <category label="Setări">
        <setting id="timeout"  type="slider"   label="Timeout accesare site-uri (0=nelimitat)" default="20" range="1,1,50" option="int"/>
        <setting id="parolasite" type="number" label="Parola opțională site-uri (0 sau nimic dezactiveaza)" option="hidden" default=""/>
        <setting id="metadata" type="select" label="Extragere Informatii de pe:" values="TMdb|IMDb|Ambele" default="IMDb" />
        <setting id="recentslimit"  type="slider"   label="Limita Recente per site" default="5" range="1,5,100" option="int"/>
        <setting id="ResolveURLSettings" type="action" label="Setări ResolveURL" option="close" action="RunPlugin(plugin://plugin.video.romanianpack/?action=openResolverSettings)" />
        <setting id="progress" type="bool" label="Caseta asteptare incarcare" default="true"/>
        <setting id="progress_type" enable="eq(-1,true)" type="select" label="Tip caseta:" values="Mare|Mica" visible="eq(-1,true)" default="Mare" />
        <setting id="torrsearchtype" type="enum" label="Mod cautare torrenter" values="Mod 1|Mod 2" default="Mod 2"/>
        <setting id="showtorrkey" type="bool" label="Arata keyboard torrenter" visible="eq(-1,1)" default="true" />
        <setting id="torrs" type="bool" label="Torrent browser" default="false" />
        <setting id="TorrenterSettings" enable="eq(-1,true)" visible="eq(-1,true)" type="action" label="Setări Torrenter" option="close" action="RunPlugin(plugin://plugin.video.romanianpack/?action=openTorrenterSettings)" />
        <setting id="searchtype" enable="eq(-2,true)" type="select" label="Cautare în:" values="Ambele|Site-uri|Torrent" visible="eq(-2,true)" default="Ambele" />
    </category>
    <category label="Trakt">
        <setting type="lsep" label="Trakt.tv" />
        <setting id="trakt.user" type="action" label="Autorizare..." option="close" action="RunPlugin(plugin://plugin.video.romanianpack/?action=authTrakt)" />
        <setting id="trakt.token" type="text" visible="false" label="" default="" />
        <setting id="trakt.refresh" type="text" visible="false" label="" default="" />
        <setting id="autotraktwatched" type="bool" label="Marcare automată ca vizualizat în Trakt" default="false"/>
    </category>
    <category label="Site-uri">
        <setting id="asiafaninfo"    type="bool"   label="AsiaFanInfo.net" default="true"/>
        <setting id="filme3dnet"    type="bool"   label="Filme3D.net" default="true"/>
        <setting id="filmebunenet"    type="bool"   label="Filme-bune.net" default="true"/>
        <setting id="filmehdnet"    type="bool"   label="FilmeHD.net" default="true"/>
        <setting id="filmeonline2013biz"    type="bool"   label="FilmeOnline2013.biz" default="true"/>
        <setting id="pefilme"    type="bool"   label="PeFilme.net" default="true"/>
        <setting id="portalultautv"    type="bool"   label="PortalulTauTv.com" default="true"/>
        <setting id="topfilmeonline"    type="bool"   label="TopFilmeOnline.net" default="true"/>
        <setting id="serialenoihd"    type="bool"   label="SerialeNoiHD.com" default="true"/>
        <setting id="filmeonlineto"    type="bool"   label="Filme-Online.to" default="true"/>
        <setting id="flixanity"    type="bool"   label="Flixanity.is" default="true"/>
        <setting id="fsonlineorg"    type="bool"   label="FSOnline" default="true"/>
        <setting id="clicksudorg"    type="bool"   label="ClickSud.org" default="true"/>
        <setting id="filmeonline2016biz"    type="bool"   label="FilmeOnline2016.biz" default="true"/>
        <setting id="hindilover"    type="bool"   label="HindiLover.biz" default="true"/>
        <setting id="despreseriale"    type="bool"   label="DespreSeriale.online" default="true"/>
        <setting id="filmeseriale"    type="bool"   label="Filme-Seriale" default="true"/>
    </category>
    <category label="Torrent">
        <setting id="clickactiontype" type="enum" label="Actiune la click:" values="Browse cu torrenter|Play cu torrenter|Descarca cu torrenter|Descarca cu Transmission" default="1" />
        <setting id="seedtransmission" enable="eq(1,false)" type="bool" label="General seed in transmission dupa vizionare" default="false"/>
        <setting id="seedtorrenter" type="bool" enable="eq(-1,false)" label="General seed in torrenter (python-libtorrent) dupa vizionare" default="false"/>
        <setting id="filelist"    type="bool"   label="FileList" default="false"/>
        <setting id="FLusername" type="text" label="Username Filelist" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="FLpassword" type="text" label="Parola Filelist" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="filelistseedtransmission" type="bool" enable="eq(-5,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)" default="false"/>
        <setting id="filelistseedtorrenter" type="bool" enable="eq(-5,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)" default="false"/>
        <setting id="ieet" type="bool" label="1337x" default="true"/>
        <setting id="ieetseedtransmission" type="bool" enable="eq(-8,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)" default="false"/>
        <setting id="ieetseedtorrenter" type="bool" enable="eq(-8,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)" default="false"/>
        <setting id="piratebay" type="bool" label="ThePirateBay" default="true"/>
        <setting id="piratebayseedtransmission" type="bool" enable="eq(-11,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)" default="false"/>
        <setting id="piratebayseedtorrenter" type="bool" enable="eq(-11,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)" default="false"/>
        <setting id="rarbg" type="bool" label="RARBG" default="true"/>
        <setting id="rarbgseedtransmission" type="bool" enable="eq(-14,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)" default="false"/>
        <setting id="rarbgseedtorrenter" type="bool" enable="eq(-14,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)" default="false"/>
        <setting id="yify" type="bool" label="YIFY" default="true"/>
        <setting id="yifyseedtransmission" type="bool" enable="eq(-17,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)" default="false"/>
        <setting id="yifiseedtorrenter" type="bool" enable="eq(-17,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)" default="false"/>
        <setting id="datascene"    type="bool"   label="DataScene" default="false"/>
        <setting id="DSusername" type="text" label="Username DataScene" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="DSpassword" type="text" label="Parola DataScene" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="datasceneseedtransmission" type="bool" enable="eq(-22,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)" default="false"/>
        <setting id="datasceneseedtorrenter" type="bool" enable="eq(-22,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)" default="false"/>
        <setting id="kickass2" type="bool" label="KickAss2" default="true"/>
        <setting id="kickass2seedtransmission" type="bool" enable="eq(-25,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)" default="false"/>
        <setting id="kickass2seedtorrenter" type="bool" enable="eq(-25,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)" default="false"/>
        <setting id="zooqle" type="bool" label="Zooqle" default="true"/>
        <setting id="zooqleseedtransmission" type="bool" enable="eq(-28,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-1,true)" default="false"/>
        <setting id="zooqleseedtorrenter" type="bool" enable="eq(-28,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-2,true)" default="false"/>
        <setting id="fluxzone"    type="bool"   label="FluxZone" default="false"/>
        <setting id="FZusername" type="text" label="Username Fluxzone" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="FZpassword" type="text" label="Parola Fluxzone" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="fluxzoneseedtransmission" type="bool" enable="eq(-33,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)" default="false"/>
        <setting id="fluxzoneseedtorrenter" type="bool" enable="eq(-33,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)" default="false"/>
        <setting id="scenefzro"    type="bool"   label="SceneFZ" default="false"/>
        <setting id="SFZusername" type="text" label="Username SceneFZ" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="SFZpassword" type="text" label="Parola SceneFZ" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="scenefzroseedtransmission" type="bool" enable="eq(-38,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)" default="false"/>
        <setting id="scenefzroseedtorrenter" type="bool" enable="eq(-38,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)" default="false"/>
        <setting id="seedfilero"    type="bool"   label="SeedFile" default="false"/>
        <setting id="seedfilerousername" type="text" label="Username SeedFile" subsetting="true" visible="eq(-1,true)" default=""/>
        <setting id="seedfileropassword" type="text" label="Parola SeedFile" default="" subsetting="true" visible="eq(-2,true)" option="hidden" />
        <setting id="seedfileroseedtransmission" type="bool" enable="eq(-43,false)" label="Pune la seed in transmission dupa vizionare" subsetting="true" visible="eq(-3,true)" default="false"/>
        <setting id="seedfileroseedtorrenter" type="bool" enable="eq(-43,false)" label="Pune la seed in torrenter (python-libtorrent) dupa vizionare" subsetting="true" visible="eq(-4,true)" default="false"/>
    </category>
</settings>
